[submodule "Project-Course"]
	path = Project-Course
	url = https://github.com/Arjun-BD/Project-Course
[submodule "Privacy-Attacks-on-GNNs"]
	path = Privacy-Attacks-on-GNNs
	url = https://github.com/Abhinav-Khot/Privacy-Attacks-on-GNNs
